// VARIABLES 
// Colors 
$brand-primary: #586600;
$brand-secondary: #00300f;
$brand-tertiary: #c8834a;
$brand-white: #f1ebe2;

// Fonts
$font: aileron, sans-serif;
$fw-rgular: 400;
$fw-bold: 700;
$fw-heavy: 900;

// BREAKPOINTS 
$bp-1300: 81.25em;
$bp-1200: 75em; // 1200px 
$bp-1100: 68.75em; // 1200px 
$bp-1000: 62.5em; // 1000px 
$bp-900: 56.25em; // 1000px 
$bp-800: 50em; // 800px 
$bp-700: 43.75em; // 700px
$bp-600: 37.5em; // 600px
$bp-500: 31.25em; // 500px
$bp-400: 25em; // 400px
$bp-300: 18.75em; // 300px
$bp-200: 12.5em; // 200px 

// BASE STYLING 
*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-1300) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: $font;
  font-weight: $fw-heavy;
  letter-spacing: 0.13rem;
  width: 100vw;
  overflow-x: hidden;
  background-color: $brand-white;
}

a {
  text-decoration: none;
}

// IMPORTS 

// Base Folder 
@import "./animations.scss";
@import "./base.scss";
@import "./reusable.scss";

// Sections 
@import "./sections/nav.scss";
@import "./sections/hero.scss";
@import "./sections/getToKnow.scss";
@import "./sections/learnMore.scss";
@import "./sections/experience.scss";
@import "./sections/emotionalIntelligence.scss";
@import "./sections/coreValues.scss";
@import "./sections/skillset.scss";
@import "./sections/keyStrengths.scss";
@import "./sections/footer.scss";