*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: aileron, sans-serif;
  font-weight: 900;
  letter-spacing: 0.13rem;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f1ebe2;
}

a {
  text-decoration: none;
}

@keyframes ticker {
  100% {
    /* FOR 31 IMAGES */
    transform: translateX(-100%);
  }
}
.d-none {
  display: none !important;
}

.align-self-center {
  align-self: center;
}

.heading-2 {
  display: inline-block;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .heading-2 {
    font-size: 3.5rem;
  }
}

.btn-outline {
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .btn-outline {
    font-size: 1.4rem;
  }
}

.btn-outline-orange {
  border: 1.5px solid #c8834a;
  color: #00300f;
}
.btn-outline-orange:hover {
  background-color: #c8834a;
  transform: translateY(-0.5rem);
}

.btn-outline-green-dark {
  border: 1.5px solid #00300f;
  color: #c8834a;
}
.btn-outline-green-dark:hover {
  background-color: #00300f;
  transform: translateY(-0.5rem);
}

.btn-outline-green-light {
  border: 1.5px solid #586600;
  color: #c8834a;
}
.btn-outline-green-light:hover {
  background-color: #586600;
  transform: translateY(-0.5rem);
}

.btn-outline-white {
  border: 1.5px solid #f1ebe2;
  color: #00300f;
}
.btn-outline-white:hover {
  background-color: #f1ebe2;
  transform: translateY(-0.5rem);
}

.color-brand-primary {
  color: #586600;
}
.color-brand-primary--underline {
  border-bottom: 5px solid #586600;
}

.color-brand-secondary {
  color: #00300f;
}
.color-brand-secondary--underline {
  border-bottom: 3px solid #00300f;
}

.color-brand-tertiary {
  color: #c8834a;
}
.color-brand-tertiary--underline {
  border-bottom: 3px solid #c8834a;
}

.bg-brand-primary {
  background-color: #586600;
}

.bg-brand-secondary {
  background-color: #00300f;
}

.bg-brand-tertiary {
  background-color: #c8834a;
}

.fill-brand-primary {
  fill: #586600;
}

.fill-brand-secondary {
  fill: #00300f;
}

.fill-brand-tertiary {
  fill: #c8834a;
}

.fill-brand-white {
  fill: #f1ebe2;
}

.header {
  background-color: transparent;
  padding: 0rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #00300f;
  font-size: 2rem;
}
.header__link .logo {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  object-position: center;
}
@media only screen and (max-width: 56.25em) {
  .header__link {
    font-size: 1.6rem;
  }
}
.header .logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 68.75em) {
  .header {
    padding: 0rem 5rem;
  }
}

.hero {
  position: relative;
}
.hero .title-box {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  display: flex;
}
@media only screen and (max-width: 75em) {
  .hero .title-box {
    top: -2.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .hero .title-box {
    font-size: 2.5rem;
  }
}
.hero .heading-5 {
  color: #c8834a;
}
.hero .heading-5:nth-of-type(2) {
  color: #586600;
}
.hero .hero__content {
  position: relative;
  overflow-y: hidden;
  overflow-x: visible;
  display: flex;
  padding: 0 5rem;
}
.hero .hero__content--right, .hero .hero__content--left {
  margin-top: 4rem;
}
.hero .hero__content--left {
  position: relative;
  width: 50%;
  height: 60vh;
}
.hero .hero__content--left .blob {
  position: absolute;
  z-index: -1;
  width: 130%;
  height: 60vh;
  transform: scale(1.5);
  bottom: -20rem;
  left: 0rem;
}
@media only screen and (max-width: 75em) {
  .hero .hero__content--left .blob {
    height: 90vh;
  }
}
@media only screen and (max-width: 56.25em) {
  .hero .hero__content--left .blob {
    bottom: -25rem;
  }
}
.hero .hero__content--left .selom {
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 60vh;
  width: 50%;
  transform: scale(1.5);
}
@media only screen and (max-width: 75em) {
  .hero .hero__content--left .selom {
    bottom: -8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .hero .hero__content--left .selom {
    bottom: -2rem;
  }
}
.hero .hero__content--left .hero--image {
  display: inline-block;
  object-fit: cover;
  object-position: center;
}
.hero .hero__content--right {
  padding-left: 5rem;
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: right;
  text-transform: uppercase;
}
@media only screen and (max-width: 75em) {
  .hero .hero__content--right {
    padding-bottom: 5rem;
  }
}
.hero .hero__content--right .btn-outline {
  position: relative;
  right: 0;
}
.hero .hero__content--right h1 {
  align-self: flex-start;
  margin: 5rem 0 1.5rem 0;
  font-size: 5rem;
  color: #00300f;
}
.hero .hero__content--right h1 span {
  color: #c8834a;
}
.hero .hero__content--right h2 {
  text-align: left;
}
.hero .hero__content--right h2 .i-am {
  margin-left: 0.5rem;
  font-size: 7rem;
  margin-bottom: 1.5rem;
  color: #00300f;
}
@media only screen and (max-width: 56.25em) {
  .hero .hero__content--right h2 .i-am {
    font-size: 5rem;
  }
}
.hero .hero__content--right h2 .i-leader {
  display: inline-block;
}
.hero .hero__content--right h2 .i-leader .leader-span {
  font-size: 7rem;
  margin-bottom: 1.5rem;
  color: #c8834a;
}
@media only screen and (max-width: 56.25em) {
  .hero .hero__content--right h2 .i-leader .leader-span {
    font-size: 5rem;
  }
}
.hero .hero__content--right h2 .leader-heading {
  display: block;
  font-size: 12rem;
  margin-bottom: 2rem;
  color: #00300f;
}
@media only screen and (max-width: 56.25em) {
  .hero .hero__content--right h2 .leader-heading {
    font-size: 8rem;
  }
}
.hero .hero__content--right .btn-outline {
  margin-left: 0.5rem;
}
.get-to-know-me {
  background-color: #00300f;
  padding: 5rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-to-know-me .video__container {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  height: 80vh;
}
.get-to-know-me .video__container iframe {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 68.75em) {
  .get-to-know-me {
    padding: 5rem;
  }
}

.learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
}
.learn-more .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .learn-more .container--1 {
    margin-top: -5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .learn-more h2 {
    margin: 0;
  }
}
.learn-more .content p {
  color: #00300f;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
.learn-more .content p span {
  color: #c8834a;
}
@media only screen and (max-width: 75em) {
  .learn-more .content p {
    font-size: 2.8rem;
  }
}
.learn-more .content--left,
.learn-more .content--right {
  width: 50%;
}
.learn-more .content--left img,
.learn-more .content--right img {
  width: 100%;
  height: 70rem;
  object-fit: contain;
  object-position: center;
}
.learn-more .points__container .point {
  position: relative;
}
.learn-more .points__container .point p {
  font-size: 6rem;
  text-transform: uppercase;
  display: inline-block;
  color: #c8834a;
  position: relative;
}
@media only screen and (max-width: 75em) {
  .learn-more .points__container .point p {
    font-size: 4rem;
  }
}
.learn-more .points__container .point span {
  position: absolute;
  font-size: 15rem;
  line-height: 1;
  display: inline-block;
  color: #586600;
  opacity: 0.3;
}
@media only screen and (max-width: 75em) {
  .learn-more .points__container .point span {
    font-size: 10rem;
  }
}
.learn-more .points__container .point--1 {
  margin-bottom: 8rem;
  margin-top: 5rem;
}
.learn-more .points__container .point--1 span {
  left: 0;
}
.learn-more .points__container .point--2 {
  text-align: right;
  margin-bottom: 5rem;
}
.learn-more .points__container .point--2 span {
  right: 0;
  top: 0;
}
@media only screen and (max-width: 75em) {
  .learn-more .points__container .point--2 {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .learn-more {
    padding: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .learn-more {
    padding: 3rem 5rem 1rem 5rem;
  }
}

.experience {
  padding: 5rem 8rem;
  background-color: #c8834a;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experience h2 {
  align-self: center;
}
.experience .headline__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.experience .headline__container .headline {
  color: #f1ebe2;
  font-size: 2rem;
  width: 60%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.experience .experience__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.experience .experience__container .experience__card {
  padding: 4rem;
  border: 1.5px solid #00300f;
  border-radius: 2rem;
  margin-bottom: 4rem;
}
.experience .experience__container .experience__card-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.experience .experience__container .experience__card-header .experience__logo {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  overflow: hidden;
}
.experience .experience__container .experience__card-header .experience__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.experience .experience__container .experience__card-header .experience__headings {
  margin-left: 4rem;
  text-transform: uppercase;
}
.experience .experience__container .experience__card-header .experience__headings h4 {
  font-size: 2.5rem;
  color: #00300f;
  margin-bottom: 1rem;
}
.experience .experience__container .experience__card-header .experience__headings .heading__row {
  display: flex;
  justify-content: space-between;
  color: #f1ebe2;
}
.experience .experience__container .experience__card-header .experience__headings h6 {
  font-size: 2rem;
  color: inherit;
}
.experience .experience__container .experience__card-header .experience__headings p {
  font-size: 2rem;
  color: inherit;
}
.experience .experience__container .experience__card-body .job-list-header {
  text-transform: uppercase;
  color: #586600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.experience .experience__container .experience__card-body .experience__list {
  list-style-type: none;
  text-transform: uppercase;
}
.experience .experience__container .experience__card-body .experience__list .experience__item {
  color: #f1ebe2;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.experience .experience__container .experience__card-body .experience__list .experience__item span svg {
  margin-right: 1rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: #00300f;
}
.experience .experience__container .experience__card-body .experience__list .experience__item:hover {
  transform: translateY(-0.5rem);
}
.experience .experience__container .experience__card-body .experience__sub-list {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 68.75em) {
  .experience {
    padding: 5rem;
  }
}

.emotional-intelligence {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.emotional-intelligence h2 {
  align-self: center;
}
.emotional-intelligence .ei__point {
  display: flex;
}
.emotional-intelligence .ei__point .point-left,
.emotional-intelligence .ei__point .point-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: #c8834a;
}
.emotional-intelligence .ei__point .point-left.point-left-icon, .emotional-intelligence .ei__point .point-left.point-right-icon,
.emotional-intelligence .ei__point .point-right.point-left-icon,
.emotional-intelligence .ei__point .point-right.point-right-icon {
  background-color: #586600;
}
.emotional-intelligence .ei__point .point-left p,
.emotional-intelligence .ei__point .point-right p {
  font-size: 2rem;
  width: 70%;
  text-align: center;
  text-transform: uppercase;
  color: #00300f;
}
.emotional-intelligence .ei__point .point-left svg,
.emotional-intelligence .ei__point .point-right svg {
  width: 20rem;
  height: 20rem;
  fill: #c8834a;
}

.core-values {
  background-color: #00300f;
  padding: 5rem 0;
}
.core-values .value {
  text-transform: uppercase;
  font-size: 8rem;
  display: flex;
  width: 100vw;
  overflow: hidden;
}
.core-values .value--1, .core-values .value--2 {
  margin-bottom: 2rem;
}
.core-values .value--1 {
  color: #c8834a;
}
.core-values .value--2 {
  color: #f1ebe2;
}
.core-values .value--3 {
  color: #586600;
}
.core-values .value-text {
  animation: ticker 5s infinite linear;
}

.skillset {
  display: flex;
  flex-direction: column;
  padding: 5rem 0 0 0;
  color: #f1ebe2;
  height: 80rem;
}
.skillset h2 {
  align-self: center;
}
.skillset .skillset__container {
  width: 100%;
  height: 80rem;
  overflow: hidden;
  position: relative;
}
.skillset .skillset__container span svg {
  display: inline-block;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  top: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.skillset .skillset__container .btn-prev {
  left: 2rem;
  transform: rotate(-90deg);
}
.skillset .skillset__container .btn-next {
  right: 2rem;
  transform: rotate(90deg);
}
.skillset .skills {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  transition: all 0.5s;
}
.skillset .skills .skill-right,
.skillset .skills .skill-left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 15rem;
}
.skillset .skills .skill-right p,
.skillset .skills .skill-left p {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .skillset .skills .skill-right p,
.skillset .skills .skill-left p {
    font-size: 3rem;
  }
}
.skillset .skills .skill-left {
  left: 0;
}
.skillset .skills .skill-right {
  right: 0;
}

.strengths {
  display: flex;
  flex-direction: column;
  padding: 5rem 8rem;
}
.strengths h2 {
  align-self: center;
}
.strengths .cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.strengths .cards .card {
  width: 30%;
  padding: 8rem 3rem;
  background-color: #00300f;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  color: #f1ebe2;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.strengths .cards .card:hover {
  transform: translateY(-1rem);
}
@media only screen and (max-width: 68.75em) {
  .strengths {
    padding: 5rem;
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #586600;
  padding: 5rem 0;
}
.footer .social__links {
  display: flex;
  margin-bottom: 5rem;
}
.footer .social__links .social__link {
  cursor: pointer;
}
.footer .social__links .social__link svg {
  width: 4rem;
  height: 4rem;
  fill: #f1ebe2;
}
.footer .social__links .social__link svg:hover {
  fill: #c8834a;
}
.footer .social__links .social__link:first-of-type {
  margin-right: 3rem;
}
.footer .copyright {
  font-size: 1.4rem;
  color: #00300f;
}

/*# sourceMappingURL=styles.css.map */
