.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $brand-primary;
  padding: 5rem 0;

  .social__links {
    display: flex;
    margin-bottom: 5rem;

    .social__link {
      cursor: pointer;

      svg {
        width: 4rem;
        height: 4rem;
        fill: $brand-white;

        &:hover {
          fill: $brand-tertiary;
        }
      }

      &:first-of-type {
        margin-right: 3rem;
      }
    }
  }

  .copyright {
    font-size: 1.4rem;
    color: $brand-secondary;
  }
}