.skillset {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 5rem 0 0 0;
  color: $brand-white;
  height: 80rem;
  

  h2 {
    align-self: center;
  }

  .skillset__container {
    width: 100%;
    // max-width: 80rem;
    height: 80rem;
    overflow: hidden;
    position: relative;

    // display: flex;

    .skill-bg--1 {
      background-image: linear-gradient(
        rgba(0, 48, 15, 0.85),
        rgba(0, 48, 15, 0.85)
      ), url('https://images.unsplash.com/photo-1603975711481-18b7aaca4caa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .skill-bg--2 {
      background-image: linear-gradient(
        rgba(200, 131, 74, 0.85),
        rgba(200, 131, 74, 0.85)
      ), url('https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    span svg {
      display: inline-block;
      position: absolute;
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      top: 50%;
      transform: translateX(-50%);
      z-index: 3;
    }

    .btn-prev {
      left: 2rem;
      transform: rotate(-90deg);
    }

    .btn-next {
      right: 2rem;
      transform: rotate(90deg);
    }
  }

  .skills {
    height: 100%;
    width: 100%;
    // display: flex;
    position: absolute;
    left: 0;
    transition: all 0.5s;

    .skill-right,
    .skill-left {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 50%;
      height: 100%;
      padding: 15rem;

      p {
        font-size: 3.5rem;
        text-transform: uppercase;
        text-align: center;

        @media only screen and (max-width: $bp-900) {
          font-size: 3rem;
        }
      }

      
    }
    
    .skill-left {
      left: 0;
    }

    .skill-right {
      right: 0;
    }
  }
}